root = true

[*]
charset = utf-8
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[{Makefile,makefile}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.go]
indent_style = tab
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[{*.yml,*.cjson,*.json,*.js}]
indent_style = space
indent_size = 2

[*.java]
indent_style = space
indent_size = 4
continuation_indent_size = 0
